<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://baidu.com" class="link" target="_blank">百度</a> |
            <a href="https://cn.bing.com" class="link" target="_blank">必应</a> |
            <a href="https://taobao.com" class="link" target="_blank">淘宝</a> |
            <a href="https://github.com" class="link" target="_blank">Github</a>                        
        </div>
        <p class="copyright">
            Copyright © 2019 zzmall.com ALL Right Reserved
        </p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
